language: node_js
node_js:
- 4.1
before_script:
- npm install -g grunt-cli
deploy:
  provider: npm
  email: thomas.bracher@cpe.fr
  api_key:
    secure: nxATgFHSYHMtN5UBUmBTsgjiF9wxdKMCDTT1KjP2vMQJACk19cnD415ALJv4wtbHsmD6z1ux2/YdDjNQ7pi7jFxHU2t6d/RDAsX+ogSwOUiscJJh7k3barBPPY5rHyBsldcerDUHshh6LEaGu4Q7PDoMPytNp+JNICRmquV/VPY=
  on:
    tags: true
